<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.inbox">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/application"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/PagerTheme">
        <activity android:name=".About"/>
        <activity android:name=".InboxPager" android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".InboxMessage"
            android:configChanges="orientation"/>
        <activity
            android:name=".InboxPreferences"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".InboxSend"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".visuals.SendFilePicker"
            android:configChanges="orientation"/>
        <activity
            android:name=".visuals.FileDownloadPicker"
            android:configChanges="orientation"/>
        <activity android:name=".Settings"/>
        <activity android:name=".InboxGPG" android:label="OpenPGP"/>
    </application>

</manifest>
